/*  General Styles */

body {
  text-align: center;
  position: relative;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Livvic", cursive;
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  padding: 3% 10%;
}

.btn1,
.btn2 {
  margin: 4% 3% 5% 0;
  text-decoration: none;
}

.back-text {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.hrr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eae9e9;
  border-width: 10px;
  width: 10%;
  background-color: white;
}

/* title section */

#title {
  background-color: #481380;
  color: #ffffff;
}

.navbar {
  padding: 0 0 6.5rem;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.nav-item {
  padding: 0 18px;
}

.intro-heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 2%;
  font-family: "Ubuntu", sans-serif;
}

.intro-text {
  font-size: 1.3rem;
  padding-top: 3%;
}

.get-started {
  padding-top: 2%;
}

.span1 {
  font-weight: bold;
}

.span2 {
  font-family: "Lobster", cursive;
}

.btn1:hover {
  color: #481380;
}

.btn2 {
}

.btn2:hover {
}

/* features section */

#features {
  background-color: #ffffff;
  color: #481380;
}

.feature {
  padding: 3%;
}

.info1,
.info2,
.info3 {
  font-size: 1.1rem;
  margin: 5%;
}

.title1,
.title2,
.title3 {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  padding-bottom: 1.3%;
}

.features-heading {
  font-size: 6rem;
  font-weight: bold;
  padding-top: 3%;
  font-family: "Ubuntu", sans-serif;
}

.features-desc {
  font-size: 1.1rem;
  padding-bottom: 5%;
}

.camp-img3 {
  padding-top: 5%;
}
/* pricing section */

#pricing {
  background-color: #ffffff;
  color: #481380;
  padding: 0 80px 0;
}

.pricing-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6%;
  font-family: "Ubuntu", sans-serif;
}

.pricing-desc {
  font-size: 1.1rem;
  padding-bottom: 2.5%;
}

.price {
  color: #481380;
  padding: 3% 2%;
}

.price-text {
  font-weight: 300;
  font-size: 2.3rem;
  padding: 3px;
  font-family: "Livvic", sans-serif;
  margin-top: 3%;
}

.price-text-sub {
  font-weight: 800;
  font-size: 3rem;
  font-family: "Livvic", sans-serif;
}

.price-item {
  font-size: 1.6rem;
  font-family: "Livvic", sans-serif;
}

.sign-up {
  font-family: "Livvic", sans-serif;
}

.pricing-div {
  padding: 0;
}

/* whyUs section */

#whyUs {
  background-color: #ffffff;
  color: #481380;
}

.whyUs-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6%;
  padding-bottom: 3%;
  font-family: "Ubuntu", sans-serif;
}

.info4,
.info5 {
  font-size: 1.3rem;
}

.info4 {
  padding-bottom: 3%;
}

.info5 {
  padding-bottom: 9%;
}

/* about section */

#about {
  background-color: #481380;
  color: #ffffff;
}

.about-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6%;
  padding-bottom: 6%;
  font-family: "Ubuntu", sans-serif;
}

.member-name {
  font-size: 1.2rem;
  padding-top: 2%;
}

.member-desc {
  font-size: 1.1rem;
  padding-bottom: 9%;
}

.carousel-img {
  border-radius: 50%;
  background-color: #f6f6f6;
}

.control.btn {
  color: #481380;
}

/* cta section */

#cta {
  background-color: #ffffff;
  color: #481380;
}

.big-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6%;
  padding-bottom: 6%;
  font-family: "Ubuntu", sans-serif;
}

.download-button {
  margin: 1.5%;
}

/* footer */

#footer {
  background-color: #481380;
  color: #ffffff;
}

.social-icon {
  margin: 20px 10px;
}

/* LOGIN */

.login-section {
  height: 7rem;
}

.login-card {
  color: #481380;
  padding: 3% 2%;
}

.login-head {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 12rem;
  padding-bottom: 1.5rem;
  color: #481380;
  text-decoration: none;
}

.login-head:hover {
  color: #481380;
}
.login-body {
  background-color: #481380;
}

#login-section {
  background-color: white;
  color: #481380;
  font-family: "Raleway", sans-serif;
}

.login-btn {
  margin: 1rem;
}

.brand-login {
  width: 5.5rem;
  margin: 0.5rem;
}
